@import "../../../data/styles/mixin.scss";

.navbar {
  border-radius: 10px;
  display: flex;
  padding: 20px;
  margin: 80px 50px 20px;
  background: gray;
  justify-content: space-around;
  align-items: center;
  font-size: 17px;
}

.navbar__link {
  color: $TextWhite;
  text-decoration: none;
  font-weight: bold;
  transition: 1s ease;
  &:hover {
    color: rgb(173, 160, 86);
  }
}

.navbar__link-active {
  color: rgb(173, 160, 86);
}
